.wrapper {
  position: sticky;
  top: 0;
  padding-block: 2rem;
  background-color: var(--background-1);
  transition: 0.3s background, 0.3s boxshadow;
  z-index: 10;
}

.wrapper ul {
  display: flex;
  gap: 1rem;
}

.title {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
}

.cta {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.cta svg {
  font-size: 1.1rem;
}

.scrolled {
  background-color: var(--background-2);
  box-shadow: var(--boxshadow-3);
}
