@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --background-1: hsl(240, 100%, 98%);
  --background-2: hsl(240, 100%, 96.3%);

  --foreground-1: hsl(217, 21%, 21%);
  --foreground-2: hsl(217, 29%, 56%);

  --gradient-1: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
}

[data-theme='dark'] {
  --background-1: hsl(216, 27%, 7%);
  --background-2: hsl(215, 21%, 11.9%);

  --foreground-1: hsl(0, 0%, 100%);
  --foreground-2: hsl(0, 0%, 57%);

  --gradient-1: linear-gradient(135deg, #6c23b6 10%, #3c2cec 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

main {
  background-color: var(--background-1);
  color: var(--foreground-1);
  min-height: 100vh;
  padding-block: 3rem;
  transition: 0.3s background;
}

ul {
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

svg {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
